.nav-menu {
    display: flex; /* Display items in a row */
    flex-direction: row; /* Ensure items are aligned horizontally */
    justify-content: flex-start; /* Align items to the left */
    align-items: center; /* Center items vertically */
}

.nav-link {
    margin-right: 20px; /* Space between each link */
    text-align: center; /* Center text */
}

.nav-link:last-child {
    margin-right: 0; /* Remove margin for the last item */
}

.link-underline {
    width: 100%;
    height: 2px;
    background-color: #000; /* Example underline color */
    transition: width 0.3s;
}

.nav-link:hover .link-underline {
    width: 100%;
}

.pointer-events {
    pointer-events: none;
}

/* Default navbar link color */
.nav-link-text {
    color: #000; /* Default text color */
}

/* Dark mode navbar link color */
.dark-mode .nav-link-text {
    color: #e1bc26; /* Change text color to yellow in dark mode */
}

/* Other dark mode styles */
.dark-mode {
    background-color: #121212; /* Example dark background */
}

/* Make the dropdown container position relative */
.nav-link.dropdown {
    position: relative;
    display: inline-block;
}

/* Initially hide the dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

/* Style for each item in the dropdown */
.dropdown-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-item:hover {
    background-color: #ddd;
}

/* Show the dropdown content on hover */
.nav-link.dropdown:hover .dropdown-content {
    display: block;
}
